@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@100;300;400;600&display=swap');
/* - Weights: 400, 700
font-family: 'Inter', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@100;300;400;600&family=Lexend+Deca&display=swap');
/* - Weights: 400
font-family: 'Lexend Deca', sans-serif;
*/

*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --soft-violet2: rgba(145, 25, 219, 0.5);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

img{
    display: block;
}


body{
    background-color: var(--main-background);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

main{
    display: flex;
    flex-direction: row;
    background-color: var(--card-background);
    max-width: 85.5rem;
    border-radius: 1rem;
    /* height: 30rem; */
}

.info{
    max-width: 42rem;
    padding: 2.2em;
    display: flex;
    flex-direction: column;
}

.imgContainer{
    position: relative;
    max-width: 42rem;
    /* width: 100%; */
}

.cover{
    z-index: 100;
    height: 100%;
    width: 100%;
    /* height: 100%; */
    /* content: ' '; */
    background-color: var(--soft-violet2);
    position: absolute;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* border: 1px solid; */
    top: 0%;
    /* border-radius: 1rem; */
    /* color: aqua; */
    /* width: 100%; */
}

.imgONE{
    z-index: 90;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    height: 100%;
}

.imgTWO{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    display: none;
    width: 100%;
    height: 100%;
}

.title{
    max-width: 36rem;
}

h1{
    font-size: 2.9rem;
}



 .description{
    color: var(--slightly-transparent-white-stat-headings);
    font-size: 1.3rem;
    line-height: 1.7em;
    max-width: 32rem;
    /* border: 1px solid; */
}

.purple{
    font-size: 1em;
    color: var(--soft-violet);
}

.row-list{
    margin: 3rem 0;
    max-width: 29rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.stat:nth-of-type(2){
    margin-left: auto;
    margin-right: auto;
}

.number{
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 700;
}

.stat{
    color: var(--slightly-transparent-white-stat-headings);
    display: flex;
    font-size: 1rem;
    flex-direction: column;
}


.short-info{
    font-size: 1.9rem;
    width: 37rem;
    text-align: left;
}

.attribution{
font-size: 1.9rem;
}

@media screen and (max-width:850px){
    main{
            flex-direction: column-reverse;
            max-width:24rem ;
            height: 90%;
            justify-content: flex-end;
        }


    .imgContainer{
        width: 100%;
        height: 14rem;
    }

    .cover{
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 0;
    }

    .imgONE{
        display: none;
    }

    .imgTWO{
        display: block;
    }

    .info{

        height: 20rem;
        padding: 0;
        max-width: 100%;
        text-align: center;
    }
    
        h1{
            font-size: 2.2rem;
        }
    
        .description{
            color: var(--slightly-transparent-white-stat-headings);
            font-size: 1rem;
            line-height: 1.5rem;
            max-width: 20rem;
            margin-left: auto;
            margin-right: auto;
        }
    
        .row-list{
            margin: 1rem 0 2rem 0;
            flex-direction: column;
            height: 18rem;
            width: 100%;
        }
    
        .stat:nth-of-type(2){
            margin-bottom:-2rem;
        }
    
        .attribution{
            font-size: 1rem;
            }
}